@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: bold;
}

.font-gilroy { font-family: 'Gilroy', sans-serif; }
.font-serifa { font-family: 'Cormorant Garamond', serif; }

/* Cursor Customizado */
#cursor {
    width: 20px; height: 20px;
    border: 2px solid #ffc60a;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease;
}